body {
  padding: 0;
  margin: 0;
}

#slider-frame {
  background-color: cadetblue;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.images-container {
  display: grid;
  width: 80vw;
  grid-template-columns: 1fr 1.5fr 2fr 6fr 2fr 1.5fr 1fr;
  align-items: center;
  /* transition: transform 0.5s ease-out; */
}

.image {
  object-fit: cover;
  width: 100%;
  /* width: 100px; */
  display: none;
}

button {
  padding: 10px;
  border: 2px solid black;
  border-radius: 50%;
  background-color: transparent;
  margin: 5px;
}

.filled {
  background-color: black;
}

.images-container > :nth-child(-n + 7) {
  display: block;
}

.images-container > :first-child {
  grid-column: 4;
  z-index: 5;
  transform: scale(1.1);
}

.images-container > :nth-child(2) {
  grid-column: 5;
  z-index: 3;
  transform: scale(1.2);
}

.images-container > :nth-child(3) {
  grid-column: 6;
  z-index: 2;
  transform: scale(1.4);
}

.images-container > :nth-child(4) {
  grid-column: 7;
  z-index: 1;
}

.images-container > :nth-child(5) {
  grid-column: 1;
  grid-row: 1;
  z-index: 1;
  transform: scale(1.4);
}

.images-container > :nth-child(6) {
  grid-column: 2;
  grid-row: 1;
  z-index: 2;
  transform: scale(1.2);
}

.images-container > :nth-child(7) {
  grid-column: 3;
  grid-row: 1;
  z-index: 3;
  transform: scale(1.1);
}
